{% extends 'layout.html' %}

{% load static %}

{% block content %}
    <div class="jumbotron rounded-0 px-2 text-center mb-0 pt-0" style='background-image: url({% static "images/60-lines.png" %});'>
    <div class="container px-md-5 pt-0">
        <div class="px-md-5 py-4 bg-pro">
        <h3 class="text-secondary my-0 py-0 font-weight-bold">The MacPorts Project</h3>
        <h5 class="display-4 text-white font-weight-bold">
            Install and Upgrade Open-Source Software on your Mac.
        </h5>
        <p class="lead text-center text-light">
            We provide the command-line driven MacPorts software package under a <strong class="font-weight-bold">3-Clause
            BSD License</strong>, and through
            it easy access to <strong class="font-weight-bold">thousands of ports</strong> that greatly simplify the task of
            compiling and installing open-source
            software on your Mac.
        </p>
        <hr class="my-4">
        <p id="download-instructions" class="font-weight-bold text-secondary"></p>
        <p class="lead">
            <a class="btn btn-light rounded-pill btn-lg" href="#" role="button">Download</a>
            <a class="btn btn-outline-light rounded-pill btn-lg" href="#" role="button">Available Ports</a>
            <br>
            <a href="#" class="btn btn-link text-light">More download options</a>
        </p>
            </div>
    </div>
    </div>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-4">
                <h4 class="border-bottom"><i class="fa fa-lightbulb"></i> Highlight 1</h4>
                <p>A single software tree that attempts to track the latest release of every software title (port) we
                    distribute, without splitting them into “stable” vs. “unstable” branches.</p>
            </div>
            <div class="col-md-4">
                <h4 class="border-bottom"><i class="fa fa-history"></i> Highlight 2</h4>
                <p>A single software tree that attempts to track the latest release of every software title (port) we
                    distribute, without splitting them into “stable” vs. “unstable” branches.</p>
            </div>
            <div class="col-md-4">
                <h4 class="border-bottom"><i class="fa fa-history"></i> Highlight 3</h4>
                <p>A single software tree that attempts to track the latest release of every software title (port) we
                    distribute, without splitting them into “stable” vs. “unstable” branches.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6">
                <h4 class="bg-pro py-2 px-3 text-light rounded">Latest NEWS</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action">Cras justo odio</li>
                    <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
                    <li class="list-group-item list-group-item-action">Morbi leo risus</li>
                    <li class="list-group-item list-group-item-action">Porta ac consectetur ac</li>
                    <li class="list-group-item list-group-item-action">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4 class="bg-prime py-2 px-3 text-light rounded">Software Releases</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action">Cras justo odio</li>
                    <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
                    <li class="list-group-item list-group-item-action">Morbi leo risus</li>
                    <li class="list-group-item list-group-item-action">Porta ac consectetur ac</li>
                    <li class="list-group-item list-group-item-action">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}